{box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgba(36, 130, 255, 0.81);
    padding: 5px 10px;
}

#sitename{
    font-size: 50px;
    color: #000000;
}
#header button {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo {
    font-size: 50px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}


#header button.active {
    background-color: #ffffff;
    color: #000000;
}

.header-right {
    display: inline;
}

@media screen and (max-width: 500px) {
    #header button {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        display: inline;
    }
}

.login-signin, .password-signin {
    width: 93%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.login-signin, .password-signin {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}

.label{
    width: 10%;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #808080;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 25%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

#feedHeader {
    display: none;
}

#secondHeader {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgba(36, 130, 255, 0.81);
    padding: 5px 10px;
}


#secondHeader button {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#secondHeader button.active {
    background-color: #ffffff;
    color: #000000;
}

#headerRight{
    display: inline;
}


#secondHeader button {
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.headerBtn {
    width: 50px;
}

#search {
    display: flex;
    justify-content: center;
}

#search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    height: 30px;
    background: #f1f1f1;
}

#searchBtn {
    width: 20%;
    height: 50px;
    background: #ffffff;
    color: #000000;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    margin-top: 1px;
    cursor: pointer;
}

#searchBtn:hover {
    background: #ffffff;
}

.footer {
    background-color: rgba(36, 130, 255, 0.81);
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
}

.headerBtn{
    display: flex;
    justify-content: center;
    margin-right: 5px;
}