.containerAvatar {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    width: 100%;
    max-width: 400px;
}

#imageAvatar {
    width: 50%;
    height: auto;
}

.profileBtn {
    background-color: #2482ff;
    color: #ffffff;
    font-size: 20px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 70px;
}

.Btn-right {
    display: flex;
    margin-left: 580px;
    width: 40px;
}

.containerImage{
    padding: 15px;
    background: #808080;
    margin: 0 0 20px 0;
    text-align: center;
    border: 2px solid #eee;
    width: 500px;
    height: 500px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.image {
    width: 500px;
    height: 500px;
    cursor: pointer;
    border-radius: 10px;
}

.username {
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    font-size: 30px;
}
#uploadbtn{
    width: 410px;
    height: 500px;
    z-index: 1000;
    opacity: 0;
    position: absolute;
}
#uploadForm {
    width: 100%;
    height: auto;
    z-index: 1;
}
.contentupload{
    width: 100%;
    height: auto;
}